<mat-toolbar class="bar">
    <span class="spacer"></span>
    <span><h1>LaQuintaCumbres</h1></span>
    <span class="spacer"></span>
  </mat-toolbar>

<gallery [items]="images"></gallery>

<mat-divider></mat-divider> 

@if(!(isHandset$ | async)){
    <mat-grid-list  cols="12" rowHeight="3em">
        <mat-grid-tile colspan="1"></mat-grid-tile>
        <mat-grid-tile class="main_image" colspan="10" >
            <div class="bar">
                <span>whatsapp:</span><span><b>81-8016-8013</b></span>
                <span class="spacer"></span>
                <span>Colonia: <b>Los Cedros, Monterrey</b></span>
            </div>
        </mat-grid-tile>    
        <mat-grid-tile colspan="1"></mat-grid-tile>
    </mat-grid-list>
      
}
@else{
    <div class="bar">
        <span class="spacer"></span>
        <span>whatsapp:</span><span><b>81-8016-8013</b></span>  
        <span class="spacer"></span>  
    </div>
    <div class="bar">
        <span class="spacer"></span>
        <span><b>Los Cedros, Monterrey</b></span>
        <span class="spacer"></span>
    </div>
}









    


